@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,500;0,600;1,350&family=Public+Sans:wght@400;500&family=Roboto+Serif:ital,opsz,wght@1,8..144,350&display=swap');

body {
    background: linear-gradient(0deg, #EDEEF4, #EDEEF4), #FFFFFF;
}
// all
section {
    padding: 0px 12px 0px 12px;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    justify-content: start;
    width: 100%
}

footer {
    padding: 0px 12px 0px 12px;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    justify-content: start;
    width: 100%
}
.container {
    max-width: 988px;
    width: 100%;
    margin: auto;
}
// Top
.content_nav_bar {
    padding: 25px 0px 25px 0px;
    border-bottom: 2px solid rgba(7, 24, 90, 0.08);
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%   
}
.content_nav_bar div {
    display: flex;
    justify-content: start;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        padding: 6px 7px 6px 7px;
        background-color: rgba(63, 93, 229, 0.08);
        border-radius: 4px;
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 14px;
        
        
        letter-spacing: -0.02em;
        text-transform: capitalize;
        font-feature-settings: 'pnum' on, 'lnum' on;

        color: #3F5DE5;
    }  
}


// white block
.white-block {
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
    padding: 0px 12px 0px 12px;
    width: 100%;
    margin-top: 18px;
    margin-bottom: 32px;
    background: radial-gradient(127.26% 100% at 50% 0%, #FFFFFF 0%, rgba(255, 255, 255, 0) 49.38%), #F9FAFC;
    border: 1.2px solid rgba(7, 24, 90, 0.08);
    box-shadow: 0px 12px 14px rgba(3, 6, 26, 0.04), 0px 40px 64px rgba(3, 6, 26, 0.04);
    border-radius: 32px;
}
.white-block > a {
    margin: 64px 0 78px 0;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    background: linear-gradient(50.37deg, rgba(247, 248, 252, 0) 0%, rgba(247, 248, 252, 0.419935) 11.95%, rgba(247, 248, 252, 0.09) 27.53%, rgba(247, 248, 252, 0.9) 52.52%, rgba(247, 248, 252, 0) 82.16%, rgba(247, 248, 252, 0) 100%), linear-gradient(180deg, #415EED 0%, #3651DA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-blend-mode: soft-light, normal;
} 
.white-block > h1 {
    margin-bottom: 44px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 80px;
    max-width: 538px;
    text-align: center;
    letter-spacing: -0.02em;
    color: rgba(26, 32, 69, 0.26);
    
    .h1_italic {
        font-family: 'Roboto Serif';
        font-style: italic;
        font-weight: 350;
        font-size: 72px;
        line-height: 80px;
        text-align: center;
        letter-spacing: -0.04em;
        background: linear-gradient(50.37deg, rgba(247, 248, 252, 0) 0%, rgba(247, 248, 252, 0.419935) 11.95%, rgba(247, 248, 252, 0.09) 27.53%, rgba(247, 248, 252, 0.9) 52.52%, rgba(247, 248, 252, 0) 82.16%, rgba(247, 248, 252, 0) 100%), linear-gradient(180deg, #415EED 0%, #3651DA 100%), #1A2045;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        background-blend-mode: soft-light, normal, normal;
        font-stretch: 110;
        font-variation-settings: 'GRAD' 20, 'opsz' 8;
    }
    .h1_gray {
        color: #1A2045;
        display: block;
    }
}
.white-block > h2 {
    margin-bottom: 82px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 175%;
    text-align: center;
    color: #A6ABBF;
    
    span {
        color: #415EED;
    }
}
.gray_block {
    
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 860px ;
    background: #F3F4F9;
    border: 1.2px solid rgba(7, 24, 90, 0.08);
    border-radius: 24px;
    margin-bottom: 64px;
    .bg_gray_block {
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        position: absolute;
        z-index: 0;
        padding: 32px 0;
        width: 100%;
        height: 100%;
       
        line {
            width: 0;
            height: 100%;
            border: 1.2px solid rgba(7, 24, 90, 0.08);
            
        }
    }
}
.form_gradient_border{
    position: absolute;
    z-index: 4;
    padding: 1.2px;
    transform: translateY(-50%);
    border-radius: 17.2px;
    background-color: rgba(7, 24, 90, 0.08);
    transition: all 0.1s ease-out;
    
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0;
        transition: opacity 0.3s;
    }
    .blend::before {
        opacity: 1;

    }
        opacity: 1;
}
.form_gradient_border > form {
    display: flex;
    flex-flow: row;
    justify-content: start;
    position: relative;
    z-index: 3;
    background: #FFFFFF;
    
    box-shadow: 0px 4px 8px rgba(3, 6, 26, 0.02), 0px 24px 48px rgba(3, 6, 26, 0.04);
    border-radius: 16px;
    padding: 8px;
    gap: 8px;
    
    input {
        width: 100%;
        max-width: 350px;
        border: none;
        padding: 16px;
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #03061A;
        caret-color: #415EED;
        &::placeholder {
            color: #51567266;
        }
        &:focus {
            outline: none;
            border: none;
            box-shadow: none;
        }

    }
    button {
        cursor: pointer;
        padding: 16px 28px 16px 28px;
        white-space:nowrap;
        max-width: 500px;
        position: relative;
        background: linear-gradient(79.8deg, rgba(247, 248, 252, 0) 0%, rgba(247, 248, 252, 0) 22.79%, rgba(247, 248, 252, 0.9) 49.42%, rgba(177, 179, 189, 0) 81.14%, rgba(247, 248, 252, 0) 100%), 
                    linear-gradient(180deg, #415EED 0%, #3651DA 100%);
        background-blend-mode: soft-light, normal;
        border-radius: 8px;
        outline: none;
        border: none;
        box-shadow: none;
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.01em;
        color: #FFFFFF;
        
        &::before {
            content: '';
            
            position: absolute;
            border-radius: 8px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(26, 32, 69, 0.15);
            opacity: 0;
            transition: opacity 0.3s ease-out;
            pointer-events: none;
            
        }
        &:hover::before {
            opacity: 1;
        }
    }
} 
#mc_embed_signup_scroll {
    display: flex;
    flex-flow: row;
}

.logo_demo {
    width: 100%;
    padding: 0px 32px;
    margin-top: 118px;
    margin-bottom: 38px;

    .logo_container {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: start;
        flex-wrap: wrap;
        gap: 12px;

        div {
            display: flex;
            flex-flow: row;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 200px;
            
            background: #FFFFFF;
            border: 1.2px solid rgba(15, 27, 94, 0.08);
            box-shadow: 0px 24px 48px rgba(3, 6, 26, 0.04);
            border-radius: 16px;
            z-index: 3;
            img {
                width: 100px;
                height: 100px;
            }
        }
    }
}



// footer

.footer_content {
    width: 100%;
    max-width: 988px;
    background: #E3E5EE;
    margin: 0 auto 24px auto;
    border: 1.2px solid rgba(15, 27, 94, 0.08);
    border-radius: 8px;
    padding: 0px 32px;
    div {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        p {
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: #7E839D;
            margin-right: 40px;
        }
        ul {
            display: flex;
            flex-flow: row;
            justify-self: center;
            align-items: center;
            margin: 0;
            padding: 32px 0px;
            list-style: none;
            gap: 12px;

            li {
                cursor: pointer;
                display: flex;
                flex-flow: row;
                justify-content: center;
                align-items: center;
                width: auto;
                height: 100%;
                svg {
                    width: 16px;
                    height: 16px;
                    path {
                        transition: fill 0.3s ease-out;
                    }
                    &:hover path {
                        fill: #333853; 
                    } 
                    
                }
            }
        }
    }
    
    nav {
        ul{
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            list-style: none;
            margin: 0;
            padding: 32px 0px;
            border-bottom: 1.2px solid rgba(15, 27, 94, 0.08);
            li {
                padding: 0;
                display: flex;
                flex-flow: row;
                img {
                    position: relative;
                    right: 2.5rem;
                    top: 15px;
                    margin-top: -14px;
                    padding: 0;
                }
                a {
                    
                    font-family: 'Public Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    color: #7E839D;
                    text-decoration: none;
                    transition: color 0.3s ease-out;
                    &:hover {
                        color: #333853;
                    }
                }
                
                
            }
        }
    }
}

.footer_logo {
    margin: 0px auto 40px auto;
}

// button
.button_gray {
    cursor: pointer;
    display: flex;
    flex-flow: row;
    justify-content: start;
    align-items: center;
    background: #E4E5EE;
    border: 1.2px solid rgba(7, 24, 90, 0.04);
    border-radius: 8px;
    padding: 14px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #6B7296;
    transition: background-color 0.3s ease-out;
    
    &:hover {
        background: #F9FAFC;
        border: 1.2px solid rgba(7, 24, 90, 0.04);
        box-shadow: 0px 8px 18px rgba(3, 6, 26, 0.04);
        border-radius: 8px;
        color: #03061A;
    }

    &:hover path {
        fill: #415EED;
        fill-opacity: 1;
    }
}
.button_gray > svg {
    margin-right: 12px;   
}
.drive_button {
    cursor: pointer;
    display: flex;
    flex-flow: row;
    z-index: 3;
    margin-bottom: 36px;
    padding: 14px 18px;
    background: #FFFFFF;
    border: 1.2px solid rgba(15, 27, 94, 0.08);
    box-shadow: 0px 24px 48px rgba(3, 6, 26, 0.04);
    border-radius: 8px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #7E839D;
    gap: 12px;
    transition: all 0.3s ease-out;
    &:hover {
        background: #F9FAFC;
        color:#4D526D;
    }

}



@import '_style_mobile';